.App-user-header {
  float: right;
  padding: 10px 20px 10px 0px;
  font-size: calc(10px + 1vmin);
}

.App-content {
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}