.startLink {
    text-decoration: none;
}

.navButton {
  padding: 20px;
}

.bigErrorText {
  font-size: 2em;
  color: #f44336;
  padding-bottom: 10px;
}

.smallErrorText {
  padding-bottom: 20px;
}

.errorSadFaceIcon {
  animation: logo-spin infinite 4s linear;
}
.goBackLink {
  text-decoration: none;
  font-size: 0.75em;
  color: black
}

.goBackHandIcon {
  color: black;
}

.questionComp {
  margin: 50px;
}

.questionTitle {
  font-size: 2em;
  padding-bottom: 25px;
}

.quiz-loader {
    animation: logo-spin infinite 2s linear;
    font-size: 4em;
}


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  