.questionSetButton {
  background-color: red;
}

.startLink {
    text-decoration: none;
}

.navButton {
  padding: 20px;
}

.bigErrorText {
  font-size: 2em;
  color: #f44336;
  padding-bottom: 10px;
}

.smallErrorText {
  padding-bottom: 10px;
  font-size: 1em;
}

.errorSadFaceIcon {
  animation: logo-spin infinite 4s linear;
}

.goBackLink {
  text-decoration: none;
  font-size: 0.5em;
  color: black
}

.goBackHandIcon {
  color: black;
}

.questionComp {
  margin: 50px;
}

.questionTitle {
  font-size: 2em;
  padding-bottom: 25px;
}

.sliderLow {
  float: left;
  font-size: 0.5em;
}

.sliderContent {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  min-width: 500px;
  width: 50%;
}

.sliderValues {
  padding-bottom: 15px;
}

.sliderHigh {
  float: right;
  font-size: 0.5em;
}

.textFieldInput {
  width: 500px;
}

.quiz-loader {
    animation: logo-spin infinite 2s linear;
    font-size: 4em;
}


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  